.list {
    position: relative;
  }
  
  .instrumentOrder {
    display: block;
    list-style-type: none;
    font-size: large;
    padding-left: 50px;
    padding-top: 40px;
    font-weight: 400;
  }
  
  .price {
    position: absolute;
    right: 30px;
  }
  
  .submit {
    font-size: 15px;
    position: absolute;
    bottom: 40px; 
    right: 50px;
    width: 30%;
    height: 40px;
  }
  
  .email {
    position: absolute;
    top: 520px;   
    width: 80%;
  }
  
  .total {
    padding-left: 50px;
  }